body
{
    background-image: linear-gradient(275deg, rgba(18, 141, 169, 0.167),rgba(18, 141, 169, 0.386),rgba(18, 141, 169, 0.534),rgba(18, 141, 169, 0.167)) !important;
}
.c
{
    text-align: center;
}
h2
{
    font-style: italic; 
    color: rgb(0, 58, 58); 
    text-shadow: 1px 1px 3px rgba(0, 58, 58, 0.855);

}
#input
{
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 222px;
}
#main
{
    margin-top: 15px;
    border-radius: 8px;
    background-color: #0198b67c;
}
.taskdiv
{
    position: relative;
    color:#fff;
    font-size: larger;
    font-weight: bold;
    /* background-color: #ffffff3f; */
}
.delbtn
{
    position: relative;
    left:  70px;
}
